# git rm -r --cached . && git add . && git commit -am "Remove ignored files"

javascript/unfinished/index.js
javascript/unfinished/README.md

python/unfinished/index.py
python/unfinished/README.md

javascript/Calculator/index.js
javascript/Calculator/README.md

javascript/Life Path Number/index.js
javascript/Life Path Number/README.md
