# git rm -r --cached . && git add . && git commit -am "Remove ignored files"

javascript/unfinished/index.js
javascript/unfinished/README.md

python/unfinished/index.py
python/unfinished/README.md

javascript/Calculator/index.js
javascript/Calculator/README.md

javascript/Life Path Number/index.js
javascript/Life Path Number/README.md

javascript/Grasshopper - Summation/index.js
javascript/Grasshopper - Summation/README.md

javascript/Even or Odd/index.js
javascript/Even or Odd/README.md

javascript/Reversed Strings/index.js
javascript/Reversed Strings/README.md

javascript/Remove First and Last Character/index.js
javascript/Remove First and Last Character/README.md

javascript/Return Negative/index.js
javascript/Return Negative/README.md

javascript/Oposite number/index.js
javascript/Oposite number/README.md


# javascript/..../index.js
# javascript/..../README.md
